@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply !font-bold !text-2xl;
  }

  h3 {
    @apply !font-bold !text-xl;
  }
}

@layer components {
  .label-field {
    @apply mb-1 text-xs text-gray-500 lg:text-sm;
  }
  .data-field {
    @apply text-sm lg:text-base;
  }

  .grecaptcha-badge {
    @apply hidden;
  }
}

@layer utilities {
  .grecaptcha-badge {
    visibility: hidden;
  }
}
